django==1.9
psycopg2
gunicorn
slumber
requests
responses
mock
djangorestframework==3.3
django-rest-swagger
django-filter
django-user-roles
django-jenkins
django-extensions

pinocchio
nose 
django_nose
pylint
coverage
sphinx
sphinx_rtd_theme
django-cors-headers
